USE [Integrations]
GO
/****** Object:  StoredProcedure [dbo].[sp_Data_Cleansing]    Script Date: 12/1/2016 9:08:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Data_Cleansing]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- (1) á (2) í (3) ó (4) º (5) ä (6) é (7) ë (8) ñ (9) ú (10) å (11) à
	
	update Integrations.OLA_Channel.Integration_Massaged set AppID = replace(AppID,'á' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set DateEntered = replace(DateEntered,'á' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set DateWritten = replace(DateWritten,'á' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set FirstName = replace(FirstName,'á' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set LastName = replace(LastName,'á' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Sync_To_Marketo = replace(Sync_To_Marketo,'á' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Company = replace(Company,'á' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Form_Age = replace(Form_Age,'á' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Gender = replace(Gender,'á' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Lead_Status = replace(Lead_Status,'á' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Inactive_in_OLA = replace(Inactive_in_OLA,'á' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Phone = replace(Phone,'á' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Email = replace(Email,'á' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Source = replace(Source,'á' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Source_Detail = replace(Source_Detail,'á' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Street = replace(Street,'á' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set City = replace(City,'á' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set State = replace(State,'á' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Zip = replace(Zip,'á' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Service_Year_Of_Interest = replace(Service_Year_Of_Interest,'á' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Service_Location_Of_Interest = replace(Service_Location_Of_Interest,'á' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set School_Name = replace(School_Name,'á' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set School_City = replace(School_City,'á' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set School_State = replace(School_State,'á' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Ethnicity = replace(Ethnicity,'á' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Major__c = replace(Major__c,'á' ,'a')


	update Integrations.OLA_Channel.Integration_Massaged set AppID = replace(AppID,'í' ,'i')
	update Integrations.OLA_Channel.Integration_Massaged set DateEntered = replace(DateEntered,'í' ,'i')
	update Integrations.OLA_Channel.Integration_Massaged set DateWritten = replace(DateWritten,'í' ,'i')
	update Integrations.OLA_Channel.Integration_Massaged set FirstName = replace(FirstName,'í' ,'i')
	update Integrations.OLA_Channel.Integration_Massaged set LastName = replace(LastName,'í' ,'i')
	update Integrations.OLA_Channel.Integration_Massaged set Sync_To_Marketo = replace(Sync_To_Marketo,'í' ,'i')
	update Integrations.OLA_Channel.Integration_Massaged set Company = replace(Company,'í' ,'i')
	update Integrations.OLA_Channel.Integration_Massaged set Form_Age = replace(Form_Age,'í' ,'i')
	update Integrations.OLA_Channel.Integration_Massaged set Gender = replace(Gender,'í' ,'i')
	update Integrations.OLA_Channel.Integration_Massaged set Lead_Status = replace(Lead_Status,'í' ,'i')
	update Integrations.OLA_Channel.Integration_Massaged set Inactive_in_OLA = replace(Inactive_in_OLA,'í' ,'i')
	update Integrations.OLA_Channel.Integration_Massaged set Phone = replace(Phone,'í' ,'i')
	update Integrations.OLA_Channel.Integration_Massaged set Email = replace(Email,'í' ,'i')
	update Integrations.OLA_Channel.Integration_Massaged set Source = replace(Source,'í' ,'i')
	update Integrations.OLA_Channel.Integration_Massaged set Source_Detail = replace(Source_Detail,'í' ,'i')
	update Integrations.OLA_Channel.Integration_Massaged set Street = replace(Street,'í' ,'i')
	update Integrations.OLA_Channel.Integration_Massaged set City = replace(City,'í' ,'i')
	update Integrations.OLA_Channel.Integration_Massaged set State = replace(State,'í' ,'i')
	update Integrations.OLA_Channel.Integration_Massaged set Zip = replace(Zip,'í' ,'i')
	update Integrations.OLA_Channel.Integration_Massaged set Service_Year_Of_Interest = replace(Service_Year_Of_Interest,'í' ,'i')
	update Integrations.OLA_Channel.Integration_Massaged set Service_Location_Of_Interest = replace(Service_Location_Of_Interest,'í' ,'i')
	update Integrations.OLA_Channel.Integration_Massaged set School_Name = replace(School_Name,'í' ,'i')
	update Integrations.OLA_Channel.Integration_Massaged set School_City = replace(School_City,'í' ,'i')
	update Integrations.OLA_Channel.Integration_Massaged set School_State = replace(School_State,'í' ,'i')
	update Integrations.OLA_Channel.Integration_Massaged set Ethnicity = replace(Ethnicity,'í' ,'i')
	update Integrations.OLA_Channel.Integration_Massaged set Birthdate = replace(Birthdate,'í' ,'i')
	update Integrations.OLA_Channel.Integration_Massaged set Major__c = replace(Major__c,'í' ,'i')

	update Integrations.OLA_Channel.Integration_Massaged set AppID = replace(AppID,'ó' ,'o')
	update Integrations.OLA_Channel.Integration_Massaged set DateEntered = replace(DateEntered,'ó' ,'o')
	update Integrations.OLA_Channel.Integration_Massaged set DateWritten = replace(DateWritten,'ó' ,'o')
	update Integrations.OLA_Channel.Integration_Massaged set FirstName = replace(FirstName,'ó' ,'o')
	update Integrations.OLA_Channel.Integration_Massaged set LastName = replace(LastName,'ó' ,'o')
	update Integrations.OLA_Channel.Integration_Massaged set Sync_To_Marketo = replace(Sync_To_Marketo,'ó' ,'o')
	update Integrations.OLA_Channel.Integration_Massaged set Company = replace(Company,'ó' ,'o')
	update Integrations.OLA_Channel.Integration_Massaged set Form_Age = replace(Form_Age,'ó' ,'o')
	update Integrations.OLA_Channel.Integration_Massaged set Gender = replace(Gender,'ó' ,'o')
	update Integrations.OLA_Channel.Integration_Massaged set Lead_Status = replace(Lead_Status,'ó' ,'o')
	update Integrations.OLA_Channel.Integration_Massaged set Inactive_in_OLA = replace(Inactive_in_OLA,'ó' ,'o')
	update Integrations.OLA_Channel.Integration_Massaged set Phone = replace(Phone,'ó' ,'o')
	update Integrations.OLA_Channel.Integration_Massaged set Email = replace(Email,'ó' ,'o')
	update Integrations.OLA_Channel.Integration_Massaged set Source = replace(Source,'ó' ,'o')
	update Integrations.OLA_Channel.Integration_Massaged set Source_Detail = replace(Source_Detail,'ó' ,'o')
	update Integrations.OLA_Channel.Integration_Massaged set Street = replace(Street,'ó' ,'o')
	update Integrations.OLA_Channel.Integration_Massaged set City = replace(City,'ó' ,'o')
	update Integrations.OLA_Channel.Integration_Massaged set State = replace(State,'ó' ,'o')
	update Integrations.OLA_Channel.Integration_Massaged set Zip = replace(Zip,'ó' ,'o')
	update Integrations.OLA_Channel.Integration_Massaged set Service_Year_Of_Interest = replace(Service_Year_Of_Interest,'ó' ,'o')
	update Integrations.OLA_Channel.Integration_Massaged set Service_Location_Of_Interest = replace(Service_Location_Of_Interest,'ó' ,'o')
	update Integrations.OLA_Channel.Integration_Massaged set School_Name = replace(School_Name,'ó' ,'o')
	update Integrations.OLA_Channel.Integration_Massaged set School_City = replace(School_City,'ó' ,'o')
	update Integrations.OLA_Channel.Integration_Massaged set School_State = replace(School_State,'ó' ,'o')
	update Integrations.OLA_Channel.Integration_Massaged set Ethnicity = replace(Ethnicity,'ó' ,'o')
	update Integrations.OLA_Channel.Integration_Massaged set Birthdate = replace(Birthdate,'ó' ,'o')
	update Integrations.OLA_Channel.Integration_Massaged set Major__c = replace(Major__c,'ó' ,'o')

	update Integrations.OLA_Channel.Integration_Massaged set AppID = replace(AppID,'º' ,'')
	update Integrations.OLA_Channel.Integration_Massaged set DateEntered = replace(DateEntered,'º' ,'')
	update Integrations.OLA_Channel.Integration_Massaged set DateWritten = replace(DateWritten,'º' ,'')
	update Integrations.OLA_Channel.Integration_Massaged set FirstName = replace(FirstName,'º' ,'')
	update Integrations.OLA_Channel.Integration_Massaged set LastName = replace(LastName,'º' ,'')
	update Integrations.OLA_Channel.Integration_Massaged set Sync_To_Marketo = replace(Sync_To_Marketo,'º' ,'')
	update Integrations.OLA_Channel.Integration_Massaged set Company = replace(Company,'º' ,'')
	update Integrations.OLA_Channel.Integration_Massaged set Form_Age = replace(Form_Age,'º' ,'')
	update Integrations.OLA_Channel.Integration_Massaged set Gender = replace(Gender,'º' ,'')
	update Integrations.OLA_Channel.Integration_Massaged set Lead_Status = replace(Lead_Status,'º' ,'')
	update Integrations.OLA_Channel.Integration_Massaged set Inactive_in_OLA = replace(Inactive_in_OLA,'º' ,'')
	update Integrations.OLA_Channel.Integration_Massaged set Phone = replace(Phone,'º' ,'')
	update Integrations.OLA_Channel.Integration_Massaged set Email = replace(Email,'º' ,'')
	update Integrations.OLA_Channel.Integration_Massaged set Source = replace(Source,'º' ,'')
	update Integrations.OLA_Channel.Integration_Massaged set Source_Detail = replace(Source_Detail,'º' ,'')
	update Integrations.OLA_Channel.Integration_Massaged set Street = replace(Street,'º' ,'')
	update Integrations.OLA_Channel.Integration_Massaged set City = replace(City,'º' ,'')
	update Integrations.OLA_Channel.Integration_Massaged set State = replace(State,'º' ,'')
	update Integrations.OLA_Channel.Integration_Massaged set Zip = replace(Zip,'º' ,'')
	update Integrations.OLA_Channel.Integration_Massaged set Service_Year_Of_Interest = replace(Service_Year_Of_Interest,'º' ,'')
	update Integrations.OLA_Channel.Integration_Massaged set Service_Location_Of_Interest = replace(Service_Location_Of_Interest,'º' ,'')
	update Integrations.OLA_Channel.Integration_Massaged set School_Name = replace(School_Name,'º' ,'')
	update Integrations.OLA_Channel.Integration_Massaged set School_City = replace(School_City,'º' ,'')
	update Integrations.OLA_Channel.Integration_Massaged set School_State = replace(School_State,'º' ,'')
	update Integrations.OLA_Channel.Integration_Massaged set Ethnicity = replace(Ethnicity,'º' ,'')
	update Integrations.OLA_Channel.Integration_Massaged set Birthdate = replace(Birthdate,'º' ,'')
	update Integrations.OLA_Channel.Integration_Massaged set Major__c = replace(Major__c,'º' ,'')


	update Integrations.OLA_Channel.Integration_Massaged set AppID = replace(AppID,'ä' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set DateEntered = replace(DateEntered,'ä' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set DateWritten = replace(DateWritten,'ä' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set FirstName = replace(FirstName,'ä' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set LastName = replace(LastName,'ä' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Sync_To_Marketo = replace(Sync_To_Marketo,'ä' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Company = replace(Company,'ä' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Form_Age = replace(Form_Age,'ä' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Gender = replace(Gender,'ä' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Lead_Status = replace(Lead_Status,'ä' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Inactive_in_OLA = replace(Inactive_in_OLA,'ä' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Phone = replace(Phone,'ä' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Email = replace(Email,'ä' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Source = replace(Source,'ä' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Source_Detail = replace(Source_Detail,'ä' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Street = replace(Street,'ä' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set City = replace(City,'ä' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set State = replace(State,'ä' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Zip = replace(Zip,'ä' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Service_Year_Of_Interest = replace(Service_Year_Of_Interest,'ä' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Service_Location_Of_Interest = replace(Service_Location_Of_Interest,'ä' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set School_Name = replace(School_Name,'ä' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set School_City = replace(School_City,'ä' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set School_State = replace(School_State,'ä' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Ethnicity = replace(Ethnicity,'ä' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Birthdate = replace(Birthdate,'ä' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Major__c = replace(Major__c,'ä' ,'a')


	update Integrations.OLA_Channel.Integration_Massaged set AppID = replace(AppID,'é' ,'e')
	update Integrations.OLA_Channel.Integration_Massaged set DateEntered = replace(DateEntered,'é' ,'e')
	update Integrations.OLA_Channel.Integration_Massaged set DateWritten = replace(DateWritten,'é' ,'e')
	update Integrations.OLA_Channel.Integration_Massaged set FirstName = replace(FirstName,'é' ,'e')
	update Integrations.OLA_Channel.Integration_Massaged set LastName = replace(LastName,'é' ,'e')
	update Integrations.OLA_Channel.Integration_Massaged set Sync_To_Marketo = replace(Sync_To_Marketo,'é' ,'e')
	update Integrations.OLA_Channel.Integration_Massaged set Company = replace(Company,'é' ,'e')
	update Integrations.OLA_Channel.Integration_Massaged set Form_Age = replace(Form_Age,'é' ,'e')
	update Integrations.OLA_Channel.Integration_Massaged set Gender = replace(Gender,'é' ,'e')
	update Integrations.OLA_Channel.Integration_Massaged set Lead_Status = replace(Lead_Status,'é' ,'e')
	update Integrations.OLA_Channel.Integration_Massaged set Inactive_in_OLA = replace(Inactive_in_OLA,'é' ,'e')
	update Integrations.OLA_Channel.Integration_Massaged set Phone = replace(Phone,'é' ,'e')
	update Integrations.OLA_Channel.Integration_Massaged set Email = replace(Email,'é' ,'e')
	update Integrations.OLA_Channel.Integration_Massaged set Source = replace(Source,'é' ,'e')
	update Integrations.OLA_Channel.Integration_Massaged set Source_Detail = replace(Source_Detail,'é' ,'e')
	update Integrations.OLA_Channel.Integration_Massaged set Street = replace(Street,'é' ,'e')
	update Integrations.OLA_Channel.Integration_Massaged set City = replace(City,'é' ,'e')
	update Integrations.OLA_Channel.Integration_Massaged set State = replace(State,'é' ,'e')
	update Integrations.OLA_Channel.Integration_Massaged set Zip = replace(Zip,'é' ,'e')
	update Integrations.OLA_Channel.Integration_Massaged set Service_Year_Of_Interest = replace(Service_Year_Of_Interest,'é' ,'e')
	update Integrations.OLA_Channel.Integration_Massaged set Service_Location_Of_Interest = replace(Service_Location_Of_Interest,'é' ,'e')
	update Integrations.OLA_Channel.Integration_Massaged set School_Name = replace(School_Name,'é' ,'e')
	update Integrations.OLA_Channel.Integration_Massaged set School_City = replace(School_City,'é' ,'e')
	update Integrations.OLA_Channel.Integration_Massaged set School_State = replace(School_State,'é' ,'e')
	update Integrations.OLA_Channel.Integration_Massaged set Ethnicity = replace(Ethnicity,'é' ,'e')
	update Integrations.OLA_Channel.Integration_Massaged set Birthdate = replace(Birthdate,'é' ,'e')
	update Integrations.OLA_Channel.Integration_Massaged set Major__c = replace(Major__c,'é' ,'e')


	update Integrations.OLA_Channel.Integration_Massaged set AppID = replace(AppID,'ë','e')
	update Integrations.OLA_Channel.Integration_Massaged set DateEntered = replace(DateEntered,'ë','e')
	update Integrations.OLA_Channel.Integration_Massaged set DateWritten = replace(DateWritten,'ë','e')
	update Integrations.OLA_Channel.Integration_Massaged set FirstName = replace(FirstName,'ë','e')
	update Integrations.OLA_Channel.Integration_Massaged set LastName = replace(LastName,'ë','e')
	update Integrations.OLA_Channel.Integration_Massaged set Sync_To_Marketo = replace(Sync_To_Marketo,'ë','e')
	update Integrations.OLA_Channel.Integration_Massaged set Company = replace(Company,'ë','e')
	update Integrations.OLA_Channel.Integration_Massaged set Form_Age = replace(Form_Age,'ë','e')
	update Integrations.OLA_Channel.Integration_Massaged set Gender = replace(Gender,'ë','e')
	update Integrations.OLA_Channel.Integration_Massaged set Lead_Status = replace(Lead_Status,'ë','e')
	update Integrations.OLA_Channel.Integration_Massaged set Inactive_in_OLA = replace(Inactive_in_OLA,'ë','e')
	update Integrations.OLA_Channel.Integration_Massaged set Phone = replace(Phone,'ë','e')
	update Integrations.OLA_Channel.Integration_Massaged set Email = replace(Email,'ë','e')
	update Integrations.OLA_Channel.Integration_Massaged set Source = replace(Source,'ë','e')
	update Integrations.OLA_Channel.Integration_Massaged set Source_Detail = replace(Source_Detail,'ë','e')
	update Integrations.OLA_Channel.Integration_Massaged set Street = replace(Street,'ë','e')
	update Integrations.OLA_Channel.Integration_Massaged set City = replace(City,'ë','e')
	update Integrations.OLA_Channel.Integration_Massaged set State = replace(State,'ë','e')
	update Integrations.OLA_Channel.Integration_Massaged set Zip = replace(Zip,'ë','e')
	update Integrations.OLA_Channel.Integration_Massaged set Service_Year_Of_Interest = replace(Service_Year_Of_Interest,'ë','e')
	update Integrations.OLA_Channel.Integration_Massaged set Service_Location_Of_Interest = replace(Service_Location_Of_Interest,'ë','e')
	update Integrations.OLA_Channel.Integration_Massaged set School_Name = replace(School_Name,'ë','e')
	update Integrations.OLA_Channel.Integration_Massaged set School_City = replace(School_City,'ë','e')
	update Integrations.OLA_Channel.Integration_Massaged set School_State = replace(School_State,'ë','e')
	update Integrations.OLA_Channel.Integration_Massaged set Ethnicity = replace(Ethnicity,'ë','e')
	update Integrations.OLA_Channel.Integration_Massaged set Birthdate = replace(Birthdate,'ë','e')
	update Integrations.OLA_Channel.Integration_Massaged set Major__c = replace(Major__c,'ë','e')


	update Integrations.OLA_Channel.Integration_Massaged set AppID = replace(AppID,'ñ' ,'n')
	update Integrations.OLA_Channel.Integration_Massaged set DateEntered = replace(DateEntered,'ñ' ,'n')
	update Integrations.OLA_Channel.Integration_Massaged set DateWritten = replace(DateWritten,'ñ' ,'n')
	update Integrations.OLA_Channel.Integration_Massaged set FirstName = replace(FirstName,'ñ' ,'n')
	update Integrations.OLA_Channel.Integration_Massaged set LastName = replace(LastName,'ñ' ,'n')
	update Integrations.OLA_Channel.Integration_Massaged set Sync_To_Marketo = replace(Sync_To_Marketo,'ñ' ,'n')
	update Integrations.OLA_Channel.Integration_Massaged set Company = replace(Company,'ñ' ,'n')
	update Integrations.OLA_Channel.Integration_Massaged set Form_Age = replace(Form_Age,'ñ' ,'n')
	update Integrations.OLA_Channel.Integration_Massaged set Gender = replace(Gender,'ñ' ,'n')
	update Integrations.OLA_Channel.Integration_Massaged set Lead_Status = replace(Lead_Status,'ñ' ,'n')
	update Integrations.OLA_Channel.Integration_Massaged set Inactive_in_OLA = replace(Inactive_in_OLA,'ñ' ,'n')
	update Integrations.OLA_Channel.Integration_Massaged set Phone = replace(Phone,'ñ' ,'n')
	update Integrations.OLA_Channel.Integration_Massaged set Email = replace(Email,'ñ' ,'n')
	update Integrations.OLA_Channel.Integration_Massaged set Source = replace(Source,'ñ' ,'n')
	update Integrations.OLA_Channel.Integration_Massaged set Source_Detail = replace(Source_Detail,'ñ' ,'n')
	update Integrations.OLA_Channel.Integration_Massaged set Street = replace(Street,'ñ' ,'n')
	update Integrations.OLA_Channel.Integration_Massaged set City = replace(City,'ñ' ,'n')
	update Integrations.OLA_Channel.Integration_Massaged set State = replace(State,'ñ' ,'n')
	update Integrations.OLA_Channel.Integration_Massaged set Zip = replace(Zip,'ñ' ,'n')
	update Integrations.OLA_Channel.Integration_Massaged set Service_Year_Of_Interest = replace(Service_Year_Of_Interest,'ñ' ,'n')
	update Integrations.OLA_Channel.Integration_Massaged set Service_Location_Of_Interest = replace(Service_Location_Of_Interest,'ñ' ,'n')
	update Integrations.OLA_Channel.Integration_Massaged set School_Name = replace(School_Name,'ñ' ,'n')
	update Integrations.OLA_Channel.Integration_Massaged set School_City = replace(School_City,'ñ' ,'n')
	update Integrations.OLA_Channel.Integration_Massaged set School_State = replace(School_State,'ñ' ,'n')
	update Integrations.OLA_Channel.Integration_Massaged set Ethnicity = replace(Ethnicity,'ñ' ,'n')
	update Integrations.OLA_Channel.Integration_Massaged set Birthdate = replace(Birthdate,'ñ' ,'n')
	update Integrations.OLA_Channel.Integration_Massaged set Major__c = replace(Major__c,'ñ' ,'n')


	update Integrations.OLA_Channel.Integration_Massaged set AppID = replace(AppID,'ú' ,'u')
	update Integrations.OLA_Channel.Integration_Massaged set DateEntered = replace(DateEntered,'ú' ,'u')
	update Integrations.OLA_Channel.Integration_Massaged set DateWritten = replace(DateWritten,'ú' ,'u')
	update Integrations.OLA_Channel.Integration_Massaged set FirstName = replace(FirstName,'ú' ,'u')
	update Integrations.OLA_Channel.Integration_Massaged set LastName = replace(LastName,'ú' ,'u')
	update Integrations.OLA_Channel.Integration_Massaged set Sync_To_Marketo = replace(Sync_To_Marketo,'ú' ,'u')
	update Integrations.OLA_Channel.Integration_Massaged set Company = replace(Company,'ú' ,'u')
	update Integrations.OLA_Channel.Integration_Massaged set Form_Age = replace(Form_Age,'ú' ,'u')
	update Integrations.OLA_Channel.Integration_Massaged set Gender = replace(Gender,'ú' ,'u')
	update Integrations.OLA_Channel.Integration_Massaged set Lead_Status = replace(Lead_Status,'ú' ,'u')
	update Integrations.OLA_Channel.Integration_Massaged set Inactive_in_OLA = replace(Inactive_in_OLA,'ú' ,'u')
	update Integrations.OLA_Channel.Integration_Massaged set Phone = replace(Phone,'ú' ,'u')
	update Integrations.OLA_Channel.Integration_Massaged set Email = replace(Email,'ú' ,'u')
	update Integrations.OLA_Channel.Integration_Massaged set Source = replace(Source,'ú' ,'u')
	update Integrations.OLA_Channel.Integration_Massaged set Source_Detail = replace(Source_Detail,'ú' ,'u')
	update Integrations.OLA_Channel.Integration_Massaged set Street = replace(Street,'ú' ,'u')
	update Integrations.OLA_Channel.Integration_Massaged set City = replace(City,'ú' ,'u')
	update Integrations.OLA_Channel.Integration_Massaged set State = replace(State,'ú' ,'u')
	update Integrations.OLA_Channel.Integration_Massaged set Zip = replace(Zip,'ú' ,'u')
	update Integrations.OLA_Channel.Integration_Massaged set Service_Year_Of_Interest = replace(Service_Year_Of_Interest,'ú' ,'u')
	update Integrations.OLA_Channel.Integration_Massaged set Service_Location_Of_Interest = replace(Service_Location_Of_Interest,'ú' ,'u')
	update Integrations.OLA_Channel.Integration_Massaged set School_Name = replace(School_Name,'ú' ,'u')
	update Integrations.OLA_Channel.Integration_Massaged set School_City = replace(School_City,'ú' ,'u')
	update Integrations.OLA_Channel.Integration_Massaged set School_State = replace(School_State,'ú' ,'u')
	update Integrations.OLA_Channel.Integration_Massaged set Ethnicity = replace(Ethnicity,'ú' ,'u')
	update Integrations.OLA_Channel.Integration_Massaged set Birthdate = replace(Birthdate,'ú' ,'u')
	update Integrations.OLA_Channel.Integration_Massaged set Major__c = replace(Major__c,'ú' ,'u')

	
	update Integrations.OLA_Channel.Integration_Massaged set AppID = replace(AppID,'å' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set DateEntered = replace(DateEntered,'å' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set DateWritten = replace(DateWritten,'å' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set FirstName = replace(FirstName,'å' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set LastName = replace(LastName,'å' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Sync_To_Marketo = replace(Sync_To_Marketo,'å' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Company = replace(Company,'å' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Form_Age = replace(Form_Age,'å' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Gender = replace(Gender,'å' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Lead_Status = replace(Lead_Status,'å' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Inactive_in_OLA = replace(Inactive_in_OLA,'å' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Phone = replace(Phone,'å' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Email = replace(Email,'å' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Source = replace(Source,'å' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Source_Detail = replace(Source_Detail,'å' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Street = replace(Street,'å' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set City = replace(City,'å' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set State = replace(State,'å' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Zip = replace(Zip,'å' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Service_Year_Of_Interest = replace(Service_Year_Of_Interest,'å' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Service_Location_Of_Interest = replace(Service_Location_Of_Interest,'å' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set School_Name = replace(School_Name,'å' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set School_City = replace(School_City,'å' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set School_State = replace(School_State,'å' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Ethnicity = replace(Ethnicity,'å' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Birthdate = replace(Birthdate,'å' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Major__c = replace(Major__c,'å' ,'a')
	
	
	update Integrations.OLA_Channel.Integration_Massaged set AppID = replace(AppID,'à' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set DateEntered = replace(DateEntered,'à' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set DateWritten = replace(DateWritten,'à' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set FirstName = replace(FirstName,'à' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set LastName = replace(LastName,'à' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Sync_To_Marketo = replace(Sync_To_Marketo,'à' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Company = replace(Company,'à' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Form_Age = replace(Form_Age,'à' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Gender = replace(Gender,'à' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Lead_Status = replace(Lead_Status,'à' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Inactive_in_OLA = replace(Inactive_in_OLA,'à' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Phone = replace(Phone,'à' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Email = replace(Email,'à' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Source = replace(Source,'à' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Source_Detail = replace(Source_Detail,'à' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Street = replace(Street,'à' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set City = replace(City,'à' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set State = replace(State,'à' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Zip = replace(Zip,'à' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Service_Year_Of_Interest = replace(Service_Year_Of_Interest,'à' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Service_Location_Of_Interest = replace(Service_Location_Of_Interest,'à' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set School_Name = replace(School_Name,'à' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set School_City = replace(School_City,'à' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set School_State = replace(School_State,'à' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Ethnicity = replace(Ethnicity,'à' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Birthdate = replace(Birthdate,'à' ,'a')
	update Integrations.OLA_Channel.Integration_Massaged set Major__c = replace(Major__c,'à' ,'a')



END

GO
