USE [Integrations]
GO
/****** Object:  Table [dbo].[AtoWFY17]    Script Date: 12/1/2016 9:08:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AtoWFY17](
	[Account Name] [nvarchar](255) NULL,
	[Account Code] [nvarchar](255) NULL,
	[Ledger] [nvarchar](255) NULL,
	[Level Name] [nvarchar](255) NULL,
	[Version] [nvarchar](255) NULL,
	[Jul-2016] [nvarchar](255) NULL,
	[Aug-2016] [nvarchar](255) NULL,
	[Sep-2016] [nvarchar](255) NULL,
	[Oct-2016] [nvarchar](255) NULL,
	[Nov-2016] [nvarchar](255) NULL,
	[Dec-2016] [nvarchar](255) NULL,
	[Jan-2017] [nvarchar](255) NULL,
	[Feb-2017] [nvarchar](255) NULL,
	[Mar-2017] [nvarchar](255) NULL,
	[Apr-2017] [nvarchar](255) NULL,
	[May-2017] [nvarchar](255) NULL,
	[Jun-2017] [nvarchar](255) NULL
) ON [PRIMARY]

GO
