USE [Integrations]
GO
/****** Object:  Table [dbo].[CMR_CM_SPMBEH_Body]    Script Date: 12/1/2016 9:08:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMR_CM_SPMBEH_Body](
	[Section_Primary_Staff] [nvarchar](255) NULL,
	[Section_Primary_Staff_ID] [nvarchar](255) NULL,
	[STUDENT_SCHOOL_NAME] [nvarchar](255) NULL,
	[cych_Accnt_SF_ID] [nvarchar](255) NULL,
	[Section_IA] [nvarchar](255) NULL,
	[BUSINESS_UNIT] [nvarchar](255) NULL,
	[TEAM_NAME] [nvarchar](255) NULL,
	[TEAM_ID] [nvarchar](255) NULL
) ON [PRIMARY]

GO
