USE [Integrations]
GO
/****** Object:  Table [OLA_Channel].[Updates]    Script Date: 12/1/2016 9:08:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OLA_Channel].[Updates](
	[email] [nvarchar](250) NULL,
	[id] [nvarchar](250) NULL
) ON [PRIMARY]

GO
