USE [Integrations]
GO
/****** Object:  Table [OLA_Channel].[OLA_Max_App_ID]    Script Date: 12/1/2016 9:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OLA_Channel].[OLA_Max_App_ID](
	[AppID] [int] NULL,
	[FirstName] [nvarchar](250) NULL,
	[LastName] [nvarchar](250) NULL,
	[Email] [nvarchar](250) NULL
) ON [PRIMARY]

GO
