USE [Integrations]
GO
/****** Object:  Table [OLA_Channel].[Inserts]    Script Date: 12/1/2016 9:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OLA_Channel].[Inserts](
	[email] [nvarchar](250) NULL
) ON [PRIMARY]

GO
